<%- include("header") %> 

    <div class="box" id="heading">
        <h1><%= Today %></h1>
    </div>

    <div class="box">
        <%for(var i=0;i<Items.length;i++){%>
            <form action="/delete<%= Path %>" method="post">
                <div class="item">
                    <input type="checkbox" value=<%=Items[i]._id %> name="checkbox" onchange="this.form.submit()" >
                    <p><%= Items[i].name %></p>
                </div>
            </form>
        <%}%>

        <form class="item" action=<%= Path %> method="post">
            <input type="text" name="newItem" placeholder="New Item" class="item">
            <button type="submit" name="button">+</button>
        </form>
    </div>
    <%if(Path==="/"){%>
    <div class="box" id="heading">
        <h1>Your lists</h1>
    </div>
    <div class="box">
    
    <%for(var i=0;i<Lists.length;i++){%>
        
            <div class="item">
                
                <p><%= Lists[i] %></p>
            </div>   
    <%}}%>  

</div>
<%- include("footer") %> 
